h1 {
    color: green;
    margin: center;
}

section {
    padding-bottom: 4rem;
    padding-top: 4rem;
}

input, textarea {
    margin-bottom: 1rem;
}


.card {
    width: 32.5%;
    float: left;
    margin: 4px;
}

a {
    float: left;
    margin: 0.5px;

    margin-top: 1rem;
}
