$color-primary: #06345a;
$color-secondary: #ffffff;
$font-color-primary: #ffffff;
$font-color-secondary: #ffffff;
$font-default: Arial, Helvetica, sans-serif;
$font-size-default: 1.6rem;
$font-size-nav: 1.8rem;

@import 'fonts';
@import url('https://fonts.googleapis.com/css2?family=Fruktur&display=swap');
@import 'nav';
@import 'grid';


@viewport {
    width: device-width;
    zoom: 1;
}

* {
    box-sizing: content-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    background-color: $color-primary;
    font-family: $font-default;
    margin: 0;
    font-size: 1;
}

h1 {
    color: $font-color-primary;
    text-align: center;
    margin-top: 4rem;
    font-size: 3rem;
}


article{

    h1 {
        color: $color-secondary;
        font-size: 3rem;
        text-align: left;
    }

}

header,
section,
footer {
    display: block;
    float: left;
    width: 100%;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    display: flex;
    flex-flow: column;
    margin: 0 auto;
    max-width: 90vw;

    @media (max-width: 768px){
        max-width: 99%;
    }

    @media (min-width: 1024px){

    }
}



@import 'header';
@import 'sobre';

@import 'produtos';

@import 'vitrine';
@import 'modal';

@import 'contato';

@import 'responsive'